@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplayRegular.eot');
    src: url('../fonts/PlayfairDisplayRegular.eot') format('embedded-opentype'),
    url('../fonts/PlayfairDisplayRegular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplayRegular.woff') format('woff'),
    url('../fonts/PlayfairDisplayRegular.ttf') format('truetype'),
    url('../fonts/PlayfairDisplayRegular.svg#AssistantRegular') format('svg');
}
@font-face {
    font-family: 'SuisseIntl-Bold-WebM';
    src: url('../fonts/SuisseIntl-Bold-WebM.eot');
    src: url('../fonts/SuisseIntl-Bold-WebM.eot') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Bold-WebM.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Bold-WebM.woff') format('woff'),
    url('../fonts/SuisseIntl-Bold-WebM.ttf') format('truetype'),
    url('../fonts/SuisseIntl-Bold-WebM.svg#SuisseIntl-Bold-WebM') format('svg');
}
@font-face {
    font-family: 'SuisseIntl-Bold-WebXL';
    src: url('../fonts/SuisseIntl-Bold-WebXL.eot');
    src: url('../fonts/SuisseIntl-Bold-WebXL.eot') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Bold-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Bold-WebXL.woff') format('woff'),
    url('../fonts/SuisseIntl-Bold-WebXL.ttf') format('truetype'),
    url('../fonts/SuisseIntl-Bold-WebXL.svg#SuisseIntl-Bold-WebXL') format('svg');
}
@font-face {
    font-family: 'SuisseIntl-Light-WebM';
    src: url('../fonts/SuisseIntl-Light-WebM.eot');
    src: url('../fonts/SuisseIntl-Light-WebM.eot') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Light-WebM.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Light-WebM.woff') format('woff'),
    url('../fonts/SuisseIntl-Light-WebM.ttf') format('truetype'),
    url('../fonts/SuisseIntl-Light-WebM.svg#SuisseIntl-Light-WebM') format('svg');
}
@font-face {
    font-family: 'SuisseIntl-Light-WebXL';
    src: url('../fonts/SuisseIntl-Light-WebXL.eot');
    src: url('../fonts/SuisseIntl-Light-WebXL.eot') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Light-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Light-WebXL.woff') format('woff'),
    url('../fonts/SuisseIntl-Light-WebXL.ttf') format('truetype'),
    url('../fonts/SuisseIntl-Light-WebXL.svg#SuisseIntl-Light-WebXL') format('svg');
}
@font-face {
    font-family: 'SuisseIntl-Regular-WebM';
    src: url('../fonts/SuisseIntl-Regular-WebM.eot');
    src: url('../fonts/SuisseIntl-Regular-WebM.eot') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Regular-WebM.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Regular-WebM.woff') format('woff'),
    url('../fonts/SuisseIntl-Regular-WebM.ttf') format('truetype'),
    url('../fonts/SuisseIntl-Regular-WebM.svg#SuisseIntl-Regular-WebM') format('svg');
}
@font-face {
    font-family: 'SuisseIntl-Regular-WebXL';
    src: url('../fonts/SuisseIntl-Regular-WebXL.eot');
    src: url('../fonts/SuisseIntl-Regular-WebXL.eot') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Regular-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Regular-WebXL.woff') format('woff'),
    url('../fonts/SuisseIntl-Regular-WebXL.ttf') format('truetype'),
    url('../fonts/SuisseIntl-Regular-WebXL.svg#SuisseIntl-Regular-WebXL') format('svg');
}
@font-face {
    font-family: 'Lucida Grande';
    src: url('../fonts/Lucida Grande.eot');
    src: url('../fonts/Lucida Grande.eot') format('embedded-opentype'),
    url('../fonts/Lucida Grande.woff2') format('woff2'),
    url('../fonts/Lucida Grande.woff') format('woff'),
    url('../fonts/Lucida Grande.ttf') format('truetype'),
    url('../fonts/Lucida Grande.svg#Lucida Grande') format('svg');
}